# fly.toml app configuration file generated for jasperver on 2025-11-08T06:20:09-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'jasperver'
primary_region = 'ams'

[build]
  dockerfile = 'Dockerfile.fly'

[env]
  DB_HOST = 'jasperserver-db.fly.dev'
  DB_PORT = '5432'
  DB_TYPE = 'postgresql'
  DB_USER = 'postgres'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 1
